.header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: -1;
    background-color: #eb6e00;
    background-image: url("https://www.transparenttextures.com/patterns/concrete-wall-2.png");
    height: 400px;
    width: 100%;    
}

.h2 {
    display: flex;
    font-size: 28px;
    font-weight: lighter;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-style: normal;
}

.bold {
    font-weight: bold;
}