nav {
    display: flex;
    position: fixed;
    top: 0;
    height: 120px;
    background-color: orange;
    justify-content: space-between;
    color: #FFFFFF;
    width: 100%;
    font-size: 30px;
}

.nav-title {
    font-family: "Bungee";
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 1.75em;
}

.rightside-nav {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 1.85em;
}

nav .fas {
    margin-left: 3.4em;
    color: red;
    font-size: 1.4rem;
}